//use bootstrap as a module
@use "custom";


//import components here
@use "../scss/components/mixins";



//import sections here
@use "./sections/navbar";
@use "./sections/home";
@use "./sections/shop";
@use "./sections/about";


//font face
@font-face {
   font-family: 'Monument Extended';
   src: url('/fonts/MonumentExtended-Ultrabold.eot');
   src: url('MonumentExtended-Ultrabold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/MonumentExtended-Ultrabold.woff2') format('woff2'),
       url('/fonts/MonumentExtended-Ultrabold.woff') format('woff'),
       url('/fonts/MonumentExtended-Ultrabold.woff') format('truetype');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Monument Extended';
   src: url('/fonts/MonumentExtended-Regular.eot');
   src: url('MonumentExtended-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/MonumentExtended-Regular.woff2') format('woff2'),
       url('/fonts/MonumentExtended-Regular.woff') format('woff'),
       url('/fonts/MonumentExtended-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}




* {
   padding: 0;
   margin: 0;
}