@use "../custom" as *;
@use "../components/mixins" as *;


.about {
   background-color: $dark;
   padding: 10rem 0;
   @include fontNormal;
   color: $white;

   .img-div {
      display: flex;
      justify-content: center;
      align-items: center;
      .picture-frame {
         background-image: url("/assets/images/unnamed.jpg");
         background-size: cover;
         background-position: center center;
         background-repeat: no-repeat;
         width: 25rem;
         height: 28rem;
         border-radius: 1rem;

      }
   }

   .text-div {
      .name-text {
         @include fontBold;
         margin-bottom: 2rem;
      }
      .about-txt {
         font-size: 1.3rem;
         margin-bottom: 2rem;

      }

      @include media-breakpoint-down(md) {
         .about-txt{
            font-size: 1rem;
         }
      }

      .msg-btn {
         font-size: 1.5rem;
         @include fontBold;
         margin-bottom: 2rem;

         span {
            padding-left: .5rem;
         }

         &:hover {
            background-color: $secondary;
            border-color: $secondary;
         }
      }

      

      .socials {
         font-size: 2.5rem;
         cursor: default;
         a {
            color: $white;
            padding-right: .5rem;



            &:hover i {
               transition: all .3s ease-in-out;
               color: $primary;
            }
         }
         
      }

      @include media-breakpoint-down(md) {
         .msg-btn {
            font-size: 1.3rem;
         }

         .socials {
            font-size: 2rem;
         }
      }
   }

   @include media-breakpoint-down(lg) {
      .text-div {
         text-align: center;
      }
   }
}