@use "../custom" as *;
@use "../components/fontf-face" as *;
@use "../components/mixins" as *;

.footer {
   padding: 5rem 0 2rem 0;
   background-color: rgb(14, 14, 14);
   color: $white;
   @include fontNormal;

   .left-part {

      .head-title {
         @include fontBold;
         text-transform: uppercase;
      }
   }

   .links-row {
      ul {
         padding: 0;
         margin: 0;
         li {
            @include fontNormal;
            list-style-type: none;
            font-size: 1.2rem;

            a {
               text-decoration: none;
               color: $white;

               &:hover {
                  text-decoration: underline;
                  transition: all .5s ease;
               }
            }
         }
      }
      .link-title {
         @include fontBold;
         text-transform: uppercase;

      }
   }

   

   .right-part {
      
      text-align: right;
      .logo-div {
         margin-left: auto;
         width: 50%;
         height: 50%;

         img {
            width: 100%;
         }
      }
      .contact-div {
         text-align: left;
         width: 50%;
         margin-left: auto;
         margin-top: 2.5rem;

         ul {
            padding: 0;
            margin: 0;
            li {
               @include fontNormal;
               list-style-type: none;
               font-size: 1rem;
   
               a {
                  span {
                     font-size: 1.5rem;
                     margin-right: 1.5rem;
                  }
                  text-decoration: none;
                  color: $white;

                  &:hover {
                  text-decoration: underline;
                  transition: all .5s ease;
               }
               }
            }
         }
      }
   }

   @include media-breakpoint-down(lg) {
      .footer-details {
         display: flex;
         flex-direction: row;
            .logo-col {
               margin: 0 auto;
               width: 50%;
               .logo-div {
                  width: 100%;
                  
               }
            }
            .contact-col {
               width: 50%;
               margin: 0 auto;
               .contact-div {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  ul {
                     li {
                        font-size: 1.2rem;
                        
                     }
                  }
               }
            }
      }
   }

   @include media-breakpoint-down(md) {
      .links-row {
         display: flex;
         flex-direction: row;

         .products {
            width: 50%;
            ul {
               li {
                  font-size: 1rem;
               }
            }
         }

         .links {
            width: 50%;
            ul {
               li {
                  font-size: 1rem;
               }
            }
         }

      }

      .footer-details {
         .contact-col {
            .contact-div {
               ul {
                  li {
                     font-size: 1rem;
                  }
               }
            }
         }
      }
   }

   @include media-breakpoint-down(sm) {
      .links-row {
         flex-direction: column;
         .link-title {
            font-size: 1.8rem;
         }
         .products {
            width: 100%;
            text-align: center;
            ul {
               display: grid;
               grid-template-columns: 1fr 1fr;
            }
         }
         .links {
            margin-top: 1.5rem;
            width: 100%;
            text-align: center;
            ul {
               display: grid;
               grid-template-columns: 1fr 1fr;
               margin-top: .8rem;
            }
         }
      }

      .footer-details {
         flex-direction: column;
         margin-top: 2rem;
         .contact-col {
            width: 100%;
         }
      }
   }

   

   

   .notice {
      text-align: center;
      margin-top: 5rem;
      cursor: default;
   }
}