@use "../custom" as *;
@use "../components/mixins" as *;

.navbar {
   @include fontBold;
   background-color: $dark;
   
   .navbar-nav {

      li {
         margin-left: 10px;

         a {
            color: $white;
         }

         &:hover {
            a {
               color: $gray-500;
            }
         }
      }
      
      
   }

   .logo {
      color: $primary;
      width: 4rem;
      
      img {
         width: 100%;
      }
   }
   
}