@font-face {
    font-family: 'Rifton Norm';
   src: url('/fonts/RiftonNorm.woff2') format('woff2'),
       url('/fonts/RiftonNorm.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}


@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue-MediumExt.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-MediumExt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

