@use "../custom" as *;


//absolute center
@mixin absoluteCenter {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin fontNormal {
   font-family: 'Helvetica Neue';
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@mixin fontBold {
   font-family: 'Rifton Norm';
   font-weight: normal;
   font-style: normal;
   font-display: swap;
   
}

@mixin button {
   text-transform: uppercase;
   font-family: 'Rifton Norm';
   font-weight: normal;
   font-style: normal;
   font-display: swap;
   padding: 3px 16px;
}

@mixin gradient {
   background: linear-gradient(to right,$primary, $secondary);
}