@use "../custom" as *;


//absolute center
@mixin absoluteCenter {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin fontNormal {
   font-family: 'monument_extendedregular';
   font-weight: normal;
}

@mixin fontBold {
   font-family: 'monument_extendedultrabold';
   
}

@mixin button {
   text-transform: uppercase;
   padding: 3px 16px;
}

@mixin gradient {
   background: linear-gradient(to right,$primary, $secondary);
}